{% extends "eventos/base_eventos.html" %}

{% block title %}Consulta de Certificado Digital - Q+TEC{% endblock title %}

{% block tipobody %}
<body class="hold-transition skin-blue layout-top-nav">
{% endblock tipobody %}


{% load staticfiles %}

{% block content %}
<div class="wrapper">

      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="#" class="navbar-brand"><b>CERTIFICADO DIGITAL</b></a>
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
              <ul class="nav navbar-nav">
                <li><a href="#">Privacidad y Seguridad</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Contáctenos</a></li>
                <li><a href="#">Tarifas</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->
              <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                  <!-- User Account Menu -->
                  <li><a href="{% url 'eventos_app:panel' %}">Login</a></li>
                </ul>
              </div><!-- /.navbar-custom-menu -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">
          <!-- Content Header (Page header) -->
          <section class="content-header">
            <!--h1>
              Consulta de Validez de Certificado Digital
            </h1-->
          </section>

          <!-- Main content -->
          <section class="content">
            <div class="box box-primary">
              <div class="box-header with-border">
                <h3 class="box-title">Consulte la Validez de su Certificado</h3>
              </div>
              <div class="box-body">
              <div class="col-md-8">

                <p>Este servicio permite verificar la Validez del Certificado de los eventos asistidos.</p>


                  <!--form role="form" action="" method="POST"-->
                  <div class="box-body">
                     <div class="form-group">
                        <label for="exampleInputText">Código de Verificación</label>
                        {{ form_buscar.codigo }}
                        {{ form_buscar.codigo.errors }}
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" name="b_codigo" id="b_codigo" class="btn btn-primary">Enviar</button>
                  </div>
                 <!--/form-->
                  
                  <div id="resultado_codigo">
                   
                  </div>               
             


            </div>
            <div class="col-md-4">
            <img class="img-responsive pad" src="{% static 'dist/img/QR-code.png' %}" alt="">
            </div>

              </div><!-- /.box-body -->
            </div><!-- /.box -->
          </section><!-- /.content -->
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
          </div>
          <strong>Copyright &copy; 2015 <a href="http://wwww.qtc.pe">Q+TEC SAC</a>.</strong> Todos los Derechos reservados.
        </div><!-- /.container -->
      </footer>
    </div><!-- ./wrapper -->

<script>
  $('#b_codigo').click(function(e){
 codigo_certificado = $("#codigo").val();
 if(codigo_certificado.length < 13 ||  codigo_certificado.length >13)
 {
    $('#resultado_codigo').html("<p>El código del certificado debe tener 13 Digitos</p>");
 }
 else{
   
   $.ajax({
   data: {'codigo_certificado': codigo_certificado},
   url: '/busqueda_certificado/',
   type: 'get',
   success : function(data) {                     
           var object = JSON.parse(data);
           if(object.guid)
           {
            var rcodigo = '<h2 class="page-header">Resultado de la Búsqueda</h2><table class="table table-striped"><thead><tr><th>Descripcion</th><th>Detalle</th></tr></thead><tbody><tr><td>CÓDIGO</td>                    <td>'+ object.guid +'</td></tr><tr><td>EVENTO</td><td>'+ object.evento +'</td></tr><tr><td>FECHA</td><td>14-10-2015</td></tr><tr><td>HORAS ACADÉMICAS</td><td>40 </td></tr><tr><td>PARTICIPANTE</td><td>Julio Perez </td></tr><tr><td>CERTIFICADOR</td><td>UNP, Fundación del Norte</td></tr><tr><td>ORGANIZADOR</td><td>QTEC </td></tr></tbody></table>';

            $('#resultado_codigo').html(rcodigo);
           }else{
              $('#resultado_codigo').html('<h2 class="page-header">Resultado de la Búsqueda</h2><p>Este código ' + codigo_certificado + ', no esta asociado a ningún Certificado</p>');
           }          

   },
   error : function(message) {
           console.log(message);

        }
   });

 }
});
   
</script>

{% endblock content %}
