<!DOCTYPE html>
<html lang="EN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock title %}</title>
	<!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	{% block css %}{% endblock css %}
	{% block js %}{% endblock js %}
</head>
{% block tipobody %}{% endblock tipobody %}

	{% block content %}
	{% endblock content %}

	
</body>
</html>